<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Streamers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
    <ion-card-header>
      <ion-card-title><h1 style="font-size: 50px;">9z</h1></ion-card-title>
      <ion-card-content>
        <ion-card href="https://www.twitch.tv/frankkaster">
          <ion-card-title><h1 style="font-size: 30px;">Frankkaster</h1></ion-card-title>
        </ion-card>
        <ion-card>
          <ion-card-title><h1 style="font-size: 30px;">Santidead</h1></ion-card-title>
        </ion-card>
        <ion-card>
          <ion-card-title><h1 style="font-size: 30px;">9z Pato</h1></ion-card-title>
        </ion-card>
        <ion-card>
          <ion-card-title><h1 style="font-size: 30px;">Twayko</h1></ion-card-title>
        </ion-card>
        <ion-card>
          <ion-card-title><h1 style="font-size: 30px;">Guishorro</h1></ion-card-title>
        </ion-card>        
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
  <ion-card-header>
    <ion-card-title><h1 style="font-size: 50px;">Coscu Army</h1></ion-card-title>
    <ion-card-content>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Coscu</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Grafo</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">La Chilena</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Zeko</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Goncho</h1></ion-card-title>
      </ion-card>        
    </ion-card-content>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title><h1 style="font-size: 50px;">Oxey Army</h1></ion-card-title>
    <ion-card-content>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Pimpeano</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Joako</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Luchi Quinteros</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Morocho</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Nano</h1></ion-card-title>
      </ion-card>        
    </ion-card-content>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title><h1 style="font-size: 50px;">DNG</h1></ion-card-title>
    <ion-card-content>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Dengue</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Mike Blunt</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Okyyy</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">Shaggyveneno</h1></ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title><h1 style="font-size: 30px;">ElBrian</h1></ion-card-title>
      </ion-card>        
    </ion-card-content>
  </ion-card-header>
</ion-card>

</ion-content>
